@import url('https://fonts.googleapis.com/css?family=Lobster');
h1{
  font-family: 'Lobster', cursive;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
